/*Basics*/
body,
html {
  padding-bottom: 50px;
}
.container {
  min-width: 730px;
}
h2 {
  font-size: 1.7em;
  text-decoration: underline;
}
a {
  color: #1f54ff;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
/*Header*/
header {
  margin-bottom: 40px;
  /* Menü <991px display:block */
  /*Typeahead*/
}
header .logo {
  width: 220px;
  padding-top: 20px;
}
header ul.top-navi {
  padding-top: 20px;
  list-style-type: none;
}
header ul.top-navi li {
  display: inline;
  margin-left: 20px;
}
header ul.top-navi li a {
  color: #333;
}
@media (max-width: 991px) {
  header ul.top-navi li {
    display: block;
    padding: 8px 0px;
  }
}
header .form-group input.form-control.typeahead {
  width: 220px;
  margin-top: 20px;
}
header .form-group input.form-control.typeahead:focus {
  border-color: none;
  box-shadow: 1px 1px 5px #1f54ff;
  /* noch in rgba */
}
header .form-group .tt-dropdown-menu {
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  border: 1px solid #777777;
  border-top: none;
  border-bottom-left-radius: 3px;
}
header .form-group .tt-suggestion {
  border-bottom: 1px solid #777777;
  padding: 15px 8px;
  cursor: pointer;
  color: #777;
}
header .form-group .tt-suggestion:last-child {
  border-bottom: none;
}
header .form-group .tt-suggestion:hover {
  background-color: #1f54ff;
  color: #ffffff;
}
header .form-group .tt-suggestion:hover strong.tt-highlight {
  color: #ffffff;
}
header .form-group .tt-suggestion strong.tt-highlight {
  color: #1f54ff;
  font-weight: normal;
}
/*Left-Col*/
.left-col {
  /*Kalender*/
  /*Nächste Events*/
}
.left-col .row > div {
  margin-bottom: 30px;
}
.left-col h2 {
  color: #777777;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  margin-top: 17px;
}
.left-col .kalender {
  max-width: 280px !important;
}
.left-col .kalender .gldp-default {
  top: 0px !important;
  left: 0px !important;
  margin-top: -20px;
  /*Leiste mit Monaten und Pfeilen */
}
.left-col .kalender .gldp-default .core {
  background: none;
}
.left-col .kalender .gldp-default .core.border {
  border: none;
  color: #333;
}
.left-col .kalender .gldp-default .core.border.special {
  background: #777777;
  border-radius: 50%;
}
.left-col .kalender .gldp-default .core.border.dow {
  cursor: default !important;
  background: #1f54ff !important;
  margin-bottom: 10px;
  color: white;
}
.left-col .kalender .gldp-default .core.border.selected,
.left-col .kalender .gldp-default .core.border:hover {
  background: #1f54ff;
  color: white;
  border-radius: 3px;
}
.left-col .kalender .gldp-default .monyear {
  color: #333333 !important;
}
.left-col .kalender .gldp-default .monyear.title {
  color: #777777 !important;
  cursor: default;
}
.left-col .kalender .gldp-default .monyear:hover {
  background: none !important;
}
.left-col .naechste-events .list-group a {
  padding: 15px 10px;
}
.left-col .naechste-events .list-group a.active {
  background-color: #1f54ff;
}
.left-col .naechste-events .list-group p:first-child {
  font-size: 1.1em;
  line-height: .9em;
}
@media (min-width: 992px) {
  .left-col .row > div {
    display: block !important;
    width: 100%;
    max-width: 100%;
  }
  .left-col .kalender {
    margin: 0 auto;
  }
}
/*Right-Col*/
.right-col ul.nav.nav-tabs li a {
  font-size: 1.2em;
}
.right-col .tab-pane {
  padding-top: 50px;
}
.right-col .tab-pane#agenda .input-group {
  margin-bottom: 20px;
}
.right-col .tab-pane#agenda .input-group .input-group-addon i {
  color: #1f54ff;
}
.right-col .tab-pane#agenda .input-group .input-group-addon.done i {
  color: white;
}
.right-col .tab-pane#agenda .input-group .input-group-addon.done {
  background-color: #1f54ff;
}
.right-col .tab-pane#agenda .add {
  margin-bottom: 60px;
}
/*Footer*/
footer {
  background-color: #1f54ff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  display: none;
}
@media screen and (max-width: 991px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  footer .col-md-6 {
    text-align: center;
  }
}

