@import "variables";


		 
	        
	        
        
/*Basics*/
body, html {padding-bottom: 50px;}
.container {min-width: 730px;}
h2 {
    font-size: 1.7em;
    text-decoration: underline;
}
a {
    color: @blue;   
    &:hover {
	    color:@font-color;
	    text-decoration: none;
    }
}



/*Header*/
header {
    margin-bottom: 40px;
    
    .logo {
	    width: 220px;
	    padding-top: 20px;
	}
	/* Menü <991px display:block */
	ul.top-navi {
		padding-top: 20px;
		list-style-type: none;
		
		li {
		    display: inline;
		    margin-left: 20px;
		    
		    a {
			    color: #333;
			}
		}
		
		@media (max-width:991px) {
			li {
				display: block;
				padding: 8px 0px;
			}
		}
	}
	
	
	/*Typeahead*/
	.form-group {
		input.form-control.typeahead {
			width: 220px;
		    margin-top: 20px;
		    
			&:focus {
			    border-color: none;
			    box-shadow: 1px 1px 5px @blue; /* noch in rgba */
			}
		}
		
		.tt-dropdown-menu {
		    background-color: @white;
		    text-align: left;
		    width: 100%;
		    border: 1px solid @grey;
		    border-top: none;
		    border-bottom-left-radius: 3px;
		}
		.tt-suggestion {
		    border-bottom: 1px solid @grey;
		    padding: 15px 8px;
		    cursor: pointer;
		    color: #777;
		    
		    &:last-child {
			    border-bottom: none;
			}
			
			&:hover {
			    background-color: @blue;
			    color: @white;
			    
			    strong.tt-highlight {
				    color: @white;
				}
			}
			
			strong.tt-highlight {
			    color: @blue;
			    font-weight: normal;
			}	
			
		}
	
	}	
}


      


            
          
/*Left-Col*/          
          
.left-col {
	.row>div {
    	margin-bottom: 30px;
    }
	h2 {
        color: @grey;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: bold;
        margin-top: 17px;
    }
	/*Kalender*/
	.kalender {
	
		max-width: 280px !important;
	
		.gldp-default {
			top:0px !important;
			left: 0px !important;
			margin-top: -20px;
			
			.core {
				background: none;
				
				&.border {
					border: none;
					color: #333;
					
					&.special {
						background: @grey;
						border-radius: 50%;
					}
				}
				
				&.border.dow {
					cursor: default !important;
					background: @blue !important; 
					margin-bottom: 10px;
					color: white;
				}
				
				&.border.selected, &.border:hover {
					background: @blue;
					color: white;
					border-radius: 3px;
				}
			}
			
			/*Leiste mit Monaten und Pfeilen */
			.monyear {
				color: @font-color !important;
				
				&.title {
					color: @grey !important;
					cursor: default;
				}
				
				&:hover {
					background: none !important;
				}
			}
		}
	}



	/*Nächste Events*/
	.naechste-events {
		.list-group {
			a {
			    padding: 15px 10px;
			    
			    &.active {
			    background-color: @blue;
				}
			}
			p:first-child {
			    font-size: 1.1em;
			    line-height: .9em;
			}
		}
	}
	
	
	@media (min-width:992px) {
        .row>div {
        	display: block !important;
	        width: 100%;
	        max-width: 100%;
        }
        .kalender {
        	margin: 0 auto;
        }
    }
} 












                       
                        
/*Right-Col*/                        
                        


.right-col {

  @media (max-width:1191px) {
    ul.nav.nav-tabs li a {
      font-size: 1.2em;
    }
  }
	
	.tab-pane {
	    padding-top: 50px;   
	    
	    &#agenda {
	    	.input-group {
			    margin-bottom: 20px;   
			    
			    .input-group-addon i {
				    color: @blue;
				}
				
				.input-group-addon.done i {
				    color:white;
				}
				
				.input-group-addon.done {
				    background-color: @blue;
				}
			}
			.add {
			    margin-bottom: 60px;   
			}
		}
	}
	
}
                        
 
                    
                    
                    
/*Footer*/                    
footer {
    background-color:@blue;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    display: none;
}
@media screen and (max-width:991px) {
    footer {
        position: relative;
        bottom: 0px;
        
        .col-md-6 {
        	text-align: center;
		}
    }
}