@blue: #4870f0;
@mid-blue: #6086ff;
@light-blue: rgba(31,84,255,.08);

@grey: #777;

@border: #cccccc;

@white: white;
@font-color: #333;
@background: #eee;


.transition(@time:.4s) {
  -webkit-transition: all @time ease-in-out;
  -moz-transition: all @time ease-in-out;
  -o-transition: all @time ease-in-out;
  transition: all @time ease-in-out;
}
