{% extends "OmmaAppBundle::layout.html.twig" %}
{% block content %}
    <div><!--controller hier rein-->
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#datum-uhrzeit" data-toggle="tab">Datum & Uhrzeit</a></li>
            <li><a href="#agenda" data-toggle="tab">Agenda</a></li>
            <li><a href="#todos" data-toggle="tab">To Dos</a></li>
            <li><a href="#protokoll" data-toggle="tab">Protokoll</a></li>
            <li><a href="#dateien" data-toggle="tab">Dateien</a></li>
            <li><a href="#teilnehmer" data-toggle="tab">Teilnehmer</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="datum-uhrzeit" ng-controller="meetingDateTimeController">
                <h1>datum-uhrzeit</h1>
            </div>
            <div class="tab-pane" id="agenda" ng-controller="meetingAgendaController">
                <h1>agenda</h1>
            </div>
            <div class="tab-pane" id="todos" ng-controller="meetingTodoController">
                <h1>todos</h1>
            </div>
            <div class="tab-pane" id="protokoll" ng-controller="meetingProtocolController">
                <h1>protokoll</h1>
            </div>
            <div class="tab-pane" id="dateien" ng-controller="meetingFileController">
                <h1>dateien</h1>
            </div>
            <div class="tab-pane" id="teilnehmer" ng-controller="meetingAttendeeController">
                <h1>teilnehmer</h1>
            </div>
        </div>
    </div>
{% endblock %}
