.buildpath
.project
/.idea
/.settings
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/ldap.yml
/app/logs/*
/backups/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.vagrant
/config.rb
/node_modules/
deployment.*
