parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:   sendmail
    mailer_encryption:  ~
    mailer_auth_mode:   login
    mailer_host:        localhost
    mailer_user:        ~
    mailer_password:    ~
    mailer_from:        admin@omma.local

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
