{% extends "OmmaAppBundle::layout.html.twig" %}

{% block content %}
    <div class="all-todos" ng-controller="toDoController">
        {% embed "OmmaAppBundle:Meeting/Tab:todo.html.twig" with {standalone: true} %}
            {% block page_header %}
                <h1>{{ "app.all_todos"|trans }}</h1>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
